#main {

    font-family: Arial;

    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;

    text-align: justify;

}

#button1 {

    font-family: Arial;
    padding: 10px;
    background-color: rgb(9, 140, 255);
    color: white;
    border: none;

    border-radius: 10px;

}