#main {

    font-family: Arial;

    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;

    text-align: justify;

}

#button1 {

    font-family: Arial;
    font-size: 17px;
    padding: 10px;
    background-color: rgb(9, 140, 255);
    color: white;
    border: none;

    border-radius: 10px;

}

#list1 {

    visibility: hidden;
    opacity: 0;
    transition-duration: all 0.2s;

}

#list1.alt {

    visibility: visible;
    opacity: 1;
    transition-duration: all 0.2s;

}